@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: #f0f6ff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Ubuntu, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Ensure full viewport height */
	margin: 0; /* Remove default margin */
	width: 100vw;
}
