@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
	

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Ubuntu, sans-serif; 
}


